.selected-products {
    max-height: 350px;
    overflow-y: auto;
}

.selected-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selected-item span {
    flex-grow: 1;
}

